.black-bg {
  background-color: #282c34;
  color: white;
}

.loading-tag {
  text-align: center;
  padding-top: 20vw;
}

.paginationDiv {
  width: 50%;
  margin: auto;
}

.paginationDiv .page-link {
  background-color: #212529;
  color: aliceblue;
  border-color: #212529;
}

.paginationBottom {
  margin-top: 5em;
}
